button {
    background: linear-gradient(to bottom right, $secondary, $primary);
    font-size: 26px;
    color: white;
    padding: 30px 70px;
    margin-top: 40px;
    margin-bottom: 80px;
    border-radius: 50px;
    border: none;
    box-shadow: 3px 3px 8px 4px darken($shadow, $amount: 10);
    cursor: pointer;
}