@keyframes shadow_btn {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0.85;
        box-shadow: 0 0 15px 0 black;
    }
}

button {
    background: linear-gradient(to bottom right, $secondary, $primary);
    font-size: 15px;
    color: $basic;
    padding: 15px 25px;
    margin-top: 30px;
    margin-bottom: 40px;
    border-radius: 50px;
    border: none;
    box-shadow: 3px 3px 8px 4px darken($shadow, $amount: 10);
    cursor: pointer;

    &:hover {
        animation: shadow_btn 0.5s both;
    }
}