@keyframes transparent {
    0% {
        opacity: 0.7;
        visibility: visible;
        background-color: white;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes spin {
    0% {
        opacity: 5;
        visibility: visible;
        z-index: 1;
    }

    100% {
        opacity: 0;
        z-index: 2;
        visibility: hidden;
        transform: rotate(360deg);
    }
}

.loader {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    visibility: hidden;
    animation: transparent 0.7s linear 1s both;

    .spinner {
        border-radius: 55%;
        border-top: 7px solid $secondary;
        border-bottom: 7px solid $tertiary;
        width: 250px;
        height: 250px;
        animation: spin 1.7s linear both;
    }
}

.presentation {
    background-color: $background;

    #localisation {
        @include center;
        align-items: center;
        background-color: lighten($shadow, $amount: 5);
        font-size: 17px;
        padding: 20px 0 20px 0;
        margin: 0;
        box-shadow: inset 0px 5px 5px darken($shadow, $amount: 10);
        font-weight: bold;

        span {
            padding: 0 20px;

            @media screen and (min-width: 768px) {
                font-size: 35px;
            }
        }
    }

    #intro {
        background-color: $background;
        @include center;
        flex-direction: column;
        align-items: center;
        text-align: center;

        h1 {
            font-weight: 900;
            padding: 23px 0;
            margin: 0;
            font-size: 26px;
        }

        p {
            font-size: 16px;
            font-weight: 300;
            margin: 0;
        }
    }
}

.choix {
    background-color: $basic;
    font-size: 18px;
    margin-bottom: 38px;

    h2 {
        font-size: 30px;
        margin: 35px 0 30px 24px;
    }

    &__block {
        @media screen and (min-width: 1400px) {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
    }

    &__content {
        @include center;
        align-items: center;
        padding: 15px 0;
        margin: 0 20px;
        position: relative;

        .choix__link{
            h3 {
                margin: 0;
                font-size: 15px;
            }

            @media all and (min-width: 1400px) {
                padding-right: 65px;
            }
        }

        &:hover {

            .choix__link {
                background-color: lighten($primary, $amount: 35);
                
                i {
                    color: $primary;
                }
            }
        }

        i {
            color: gray;
            padding-right: 27px;
            padding-left: 30px;
            font-size: 20px;
        }

        #list {
            font-size: 15px;
            padding-right: 25px;
        }

        #store {
            font-size: 15px;
            padding-right: 22px;
        }
    }

    &__number {
        background-color: $primary;
        padding: 1px 7px;
        color: $basic;
        border-radius: 25px;
        position: absolute;
        left: -12px;

        @media screen and (min-width: 1400px) {
            left: -26px;
            padding: 7px 17px;
        }
    }

    &__link {
        cursor: pointer;
        font-size: 15px;
        font-weight: 600;
        width: 100%;
        padding: 20px 0;
        background-color: lighten($background, $amount: 2);
        border: none;
        border-radius: 25px;
        display: flex;
        align-items: center;
        box-shadow: 5px 5px 10px $shadow;
    }
}

.restaurant {
    width: 100%;
    background-color: $background;

    h2 {
        margin: 0;
        padding: 32px 0 35px 25px;
        font-size: 25px;
    }

    &__vignette {
        width: 90%;
        height: 300px;
        background-color: $basic;
        margin-left: 20px;
        margin-bottom: 30px;
        border-radius: 25px;
        position: relative;
        box-shadow: 5px 5px 10px $shadow;

        &:hover {
            box-shadow: 5px 5px 10px $tertiary;
        }

        img {
            width: 100%;
            height: 180px;
            border-top-left-radius: 25px;
            border-top-right-radius: 25px;
        }

        h3 {
            margin: 0;
            font-size: 17px;
            padding-left: 20px;
            padding-top: 10px;
        }

        p {
            margin: 0;
            font-size: 15px;
            padding-left: 20px;
            padding-top: 5px;
        }

        .new {
            position: absolute;
            z-index: 1;
            top: 17px;
            right: 13px;
            background-color: $tertiary;
            padding: 11px;
            font-weight: 700;
            color: darken($tertiary, $amount: 50);
            border-radius: 5px;
        }

        @keyframes remplissage {
            0% {
                transform: scaleY(0.4);
                transform-origin: 0% 100%;
            }

            100% {
                transform: scaleY(1);
                transform-origin: 0% 100%;
            }
        }

        i {
            font-weight: normal;
            position: absolute;
            right: 25px;
            bottom: 30px;
            font-size: 20px;

            @media screen and (min-width: 768px) {
                font-size: 25px;
                right: 35px;
            }

            &:hover {
                @include coeur;
            }
        }
    }
}
