footer {
    background-color: lighten($color: #000000, $amount: 25);

    img {
        width: 30%;
        padding: 45px 0 10px 45px;
    }

    ul {
        list-style: none;
        font-size: 27px;
        padding: 10px 0px 55px 40px;
        margin: 0;

        li {
            padding: 5px 5px;

            a {
                text-decoration: none;
                color: #fbfbfb;
                font-weight: 300;

                &:hover {
                    color: $tertiary;
                    text-decoration: underline;
                    font-weight: 500;
                }
            }
        }

        i {
            padding: 10px 25px 10px 5px;
        }

        #handshake {
            font-size: 20px;
            padding-right: 20px;
        }
    }
}