footer {
    background-color: lighten($color: #000000, $amount: 25);

    img {
        width: 120px;
        padding: 45px 0 10px 45px;
    }

    ul {
        list-style: none;
        font-size: 20px;
        padding: 10px 0px 55px 40px;
        margin: 0;

        @media screen and (min-width: 768px) {
            display: flex;
            flex-direction: row;
            align-items: baseline;
            justify-content: space-around;
            padding-top: 30px;
        }

        li {
            padding: 5px 5px;

            a {
                color: #fbfbfb;
                font-weight: 300;

                &:hover {
                    color: $tertiary;
                    text-decoration: underline;
                }
            }

            .weight {
                font-weight: 500;
            }
        }

        i {
            padding: 10px 25px 10px 5px;
        }

        #handshake {
            font-size: 20px;
            padding-right: 20px;
        }
    }
}