.content {
    background-color: $background;
}

.note {
    img {
        height: 305px;
    }
}

span {
    img {
        width: 100%;

        @media screen and (min-width: 768px) {
            height: 460px;
        }
    }
}

.block {
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    transform: translateY(-100px);
    background-color: $background;

    .entete {
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        h1 {
            font-family: shrikhand, cursive;
            font-weight: 500;
            margin-left: 20px;
            font-size: 23px;
        }
    
        i {
            @include heart;
            margin-right: 40px;

            &:hover {
                @include coeur;
            }
        }
    }

    .menu {
        &__title {
            margin-left: 16px;
            width: 35px;
            padding-bottom: 5px;
            border-bottom: 4px solid $tertiary;
            font-size: 14px;
        }

        @keyframes apparition {
            0% {
                transform: translateY(50px);
                opacity: 0;
            }

            25% {
                transform: translateY(30px);
                opacity: 0.4;
            }

            75% {
                transform: translateY(10px);
                opacity: 0.7;
            }

            100% {
                transform: translateY(0);
                opacity: 1;
            }
        }

        @keyframes slide {
            0% {
                transform: translateX(50px);
                visibility: visible;
            }

            100% {
                transform: translateX(0px);
            }
        }

        @keyframes rotation {
            0% {
                transform: rotate(0);
            }

            100% {
                transform: rotate(360deg);
            }
        }
  
        article {
            background-color: $basic;
            margin: 5px 15px 20px 10px;
            border-radius: 20px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            box-shadow: 5px 5px 10px $shadow;
            width: 96%;
            height: 75px;
            overflow: hidden;
            animation: apparition 0.7s linear;
            @include boucle;

            &:hover {
                p, h3 {
                    @include trois_points;
                    max-width: 200px;
                }

                .prix {
                    padding-bottom: 20px;
                }

                .block_slide, .prix {
                    animation: slide 0.7s ease-in-out both;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    i {
                        animation: rotation 0.6s ease-in-out both;
                    }
                }
            }

            h3 {
                margin: 0;
                font-size: 14px;
                padding: 15px 0 6px 20px;
            }
    
            p {
                margin: 0;
                font-size: 11px;
                padding-bottom: 15px;
                padding-left: 20px;
            }

            .prix {
                padding-top: 37px;
                padding-right: 20px;
                font-size: 13px;
                font-weight: 700;
            }

            .block_slide {
                background-color: $tertiary;
                color: $basic;
                display: none;
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
                font-size: 20px;
                width: 16%;
            }
        }
    }

    span {
        display: flex;
        justify-content: center;

        .end {
            margin-bottom: 0;
        }
    }
}